<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".di.KoinApplication"
        android:icon="@mipmap/edupage_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/edupage_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timeline"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Timeline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".widget.WidgetLoginActivity"
            android:taskAffinity=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.TimelineGlanceWidgetReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="EduPage Timeline">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_timeline_widget_glance" />
        </receiver>
    </application>

</manifest>